<div class="container-header">
    <mat-toolbar class="mat-menu-header">
        <div class="row">
            <button (click)="drawer?.toggle()" class="icon-menu">
                <mat-icon>menu</mat-icon>
            </button>
            <div>
                <a routerLink="/">
                    <img class="image-clothesstore" src="/assets/imagenes/clothesStore.jpeg">
                </a>
            </div>
            <div class="row end-xs end-sm end-md end-lg container-options-header">
                <!-- <div class="row middle-sm middle-md middle-lg end-sm end-md end-lg container-header"> -->
                <div class="form-search">
                    <input class="field-search" placeholder="Busca aquí el producto" [(ngModel)]="searchText">
                    <button class="button-search" type="button" [routerLink]="['products', searchText]">
                        <img src="assets/imagenes/search.png">
                    </button>
                </div>
                <a routerLink="/order" class="container-cart" [matBadge]="total$ | async" matBadgeSize="small">
                    <img src="assets/imagenes/icon-cart.jpeg">
                </a>
                <div class="container-user">
                    <img src="assets/imagenes/person.jpeg">
                </div>
                <button class="button-login" type="button">
                    Iniciar sesión
                </button>
                <!-- </div> -->
            </div>
        </div>
    </mat-toolbar>
    <mat-toolbar class="center-sm mat-menu">
        <ul class="menu">
            <li>Hombre</li>
            <li>Mujer</li>
            <li>Junior</li>
            <li>Niños</li>
            <li>Accesorios</li>
            <li>Ofertas</li>
        </ul>
    </mat-toolbar>
</div>