.swiper {
    width: 100%;
    height: auto;
}

.image-slide{
   min-width: 700px;
    height: 100%;
}

.swiper-button-prev, .swiper-button-next{
    color: white;
    background-color: rgba(10,10,10,0.1);
    padding: 5px 15px 5px 15px;
}
