.container-product {
    padding: 10px;
}

.container-products {
    padding: 0 20px;
}

.mat-progress-product{
    margin-top: 1vh;
}

@media (max-width: 576px) {
    .container-product {
        margin-top: 5vh;
    }
}